*{
    margin: 0;
    padding: 0;
}
#clock-container{
    position: relative;
    margin: auto;
    background: url(../img/clock-1.png);
    height: 40vw;
    width: 40vw;
    background-repeat: no-repeat;
    background-size: 100% ;
    /* border: 2px solid blue; */

}
#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10%;
}

#hour{
    width: 1.2%;
    height: 32%;
    left: 49.4%;
    top: 17.7%;
    transform-origin: bottom;
}
#minute{
    width: 0.7%;
    height: 30.6%;
    left: 49.41%;
    top: 19%;
    transform-origin: bottom;
}
#second{
    width: 0.5%;
    height: 34%;
    left: 49.5%;
    top: 15.6%;
    transform-origin: bottom;
}
